[*.cs]

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# CS8619: Nullability of reference types in value doesn't match target type.
dotnet_diagnostic.CS8619.severity = warning

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = discard_variable

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = error
